<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>How Performant - Test the performance of JavaScript functions</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style media="screen">
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
      }

      #main{
        display: grid;
        grid-template-columns: 33.3% 66.6%;
        grid-template-rows: 100%;
        grid-template-areas:
        "sectionPasteParams sectionPasteFunctions"
        "sectionPasteParams sectionPasteFunctions";
        height: 95vh;
      }

      .sectionPasteParams{
        padding: 10px;
        background-color: lightblue;
        grid-area: sectionPasteParams;
        overflow: auto;
      }

      .divNumOfArgumentsSets{
        position: sticky;
        top: 0;
      }

      #inputNumOfArgumentsSets{
        width: 50px;
      }

      .divArgumentsSets{
        overflow: auto;
      }

      .divFunctionArgument{
        margin-top: 10px;
      }

      .textAreaArgumentsPaste{
        width: 100%;
        height: 10vh;
        padding: 5px;
        font-size: 0.8em;
      }

      .labelArgumentsDataTypes{
        margin-right: 10px;
      }

      .sectionPasteFunctions{
        grid-area: sectionPasteFunctions;
        display: flex;
        align-content: center;
        justify-content: center;
      }

      .sectionFunction1, .sectionFunction2{
        width: 50%;
      }

      .sectionFunction1{
        background-color: lightgreen;
      }

      .sectionFunction2{
        background-color: pink;
      }

      #footer{
        background: rgb(0,0,0);
        height: 5vh;
        line-height: 5vh;
        text-align: center;
        font-size: 1.4rem;
        border-top: 3px solid black;
        color: white;
      }

      #footer a{
        color: white;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <main id="main">
        <section class="sectionPasteParams">
          <div class="divNumOfArgumentsSets">
            <h1>Function arguments</h1>
            <label class="labelNumOfArgumentsSets">
              Enter number of sets:
              <input type="number"
              name="inputNumOfArgumentsSets"
              id="inputNumOfArgumentsSets"
              v-model="numOfArgumentsSets"
              @change="changeArgumentsArrLength()"
              min="0"
              max="20"
              width="4"
              >
            </label>
          </div>



          <div class="divArgumentsSets" v-for="set in Number(numOfArgumentsSets)">
            <function-arg :id="'argSet' + set"></function-arg>
          </div>

        </section>



        <section class="sectionPasteFunctions">
          <section class="sectionFunction1">
            <h1>Function 1</h1>
            This is for function 1 - sectionFunction1 <br>
          </section>



          <section class="sectionFunction2">
            This is for function 2 - sectionFunction2
          </section>
        </section>


      </main>

      <footer id="footer">
        How Performant? Compare JavaScript functions |
        <a href="http://addeventlistener.xyz" target="_blank">@papostolopoulos</a> |
        May 2019
      </footer>
    </div>






    <script type="text/javascript">

//----Vue component----
      Vue.component('function-arg', {
        props: ["set"],
        data(){
          return {
            errorEntry: false,
            dataType: "string",
            textAreaValues: "",
            arrayElements: []
          }
        },
        methods:{
          textAreaValuesSplit(elem){
            this.errorEntry = false;
            console.log("In the start of the textAreaValuesSplit()");
            let startArr = this.textAreaValues.split("\n");
            let finalArr = [];

            if(this.textAreaValues.length === 0) return;

            //If function selected
            if (this.dataType === "function"){
              console.log("selected data type = function");
              let functionsArr = this.textAreaValues.split(/(?<=\})\s+((?=function)|(?=(var|let|const)\s[A-z_\$]\w*\s*=\s*function))/);
              for (let i = 0; i < functionsArr.length; i++) {
                console.log("Result from function selection before the evalFunction:", functionsArr[i]);
                this.evalFunction(functionsArr[i]) === "error" ? this.errorEntry = true : finalArr.push(this.evalFunction(functionsArr[i]));
              }
            }

            //If object selected
            if (this.dataType === "object"){
              console.log("selected dataType = object");
              let objectsArr = this.textAreaValues.split(/\n(?=\{)/);
              for (let i = 0; i < objectsArr.length; i++) {
                objectsArr[i][0] === "{" ? objectsArr[i] = objectsArr[i] : objectsArr[i] = "{" + objectsArr[i];
                console.log("Result from function selection before the evalFunction:", objectsArr[i]);
                this.evalObject(objectsArr[i]) === "error" ? this.errorEntry = true : finalArr.push(this.evalObject(objectsArr[i]));
              }
            }

            //If string selected - Not sure about this
            if (this.dataType === "string"){
              console.log("selected dataType = string");
              let stringsArr = this.textAreaValues.split(/\n/);

              //Find if there are tildas (`) in the strings. That might mean sentences
              //that are spanning to different lines so they need to be connected
              let pairTildas = this.textAreaValues.replace(/[^`]/g, "").length % 2 === 0;
              if (pairTildas) {
                for (let j = 0; j < stringsArr.length; j++) {
                  if (stringsArr[j][0] === "`" && stringsArr[j][stringsArr[j].length - 1] !== "`") {
                    let replaceStr = stringsArr[j];
                    let elemsCounter = 1;
                    for (var k = j+1; k < stringsArr.length; k++) {
                      replaceStr += stringsArr[k];
                      elemsCounter += 1;
                      if (stringsArr[k][stringsArr[k].length - 1] === "`") {
                        stringsArr.splice(j, elemsCounter, replaceStr);
                        break;
                      }
                    } //End of Second loop (k)

                  }
                } //End of first loop, j
              } //End of if(pairTildas)

              for (let i = 0; i < stringsArr.length; i++) {
                this.evalString(stringsArr[i]) === "error" ? this.errorEntry = true : finalArr.push(this.evalString(stringsArr[i]));
              }

            } //End of if this.dataType === string



            for (let i = 0; i < startArr.length; i++) {
              console.log("In the for loop for i:", i);

              //If array selected
              if (this.dataType === "array"){
                console.log("selected data type: array");
                if(this.evalArray(startArr[i], this.arrayElements) === "error") this.errorEntry = true;
                else {
                  this.arrayElements = [];
                  finalArr.push(this.evalArray(startArr[i], this.arrayElements));
                }
              }

              //If boolean selected
              if (this.dataType === "boolean")
                this.evalBoolean(startArr[i]) === "error" ? this.errorEntry = true : finalArr.push(this.evalBoolean(startArr[i]));
              //If null selected
              if (this.dataType === "null")
                this.evalNull(startArr[i]) === "error" ? this.errorEntry = true : finalArr.push(this.evalNull(startArr[i]));
              //If number selected
              if (this.dataType === "number")
                this.evalNumber(startArr[i]) === "error" ? this.errorEntry = true : finalArr.push(this.evalNumber(startArr[i]));
              //If regexp selected
              if (this.dataType === "regexp")
                this.evalRegExp(startArr[i]) === "error" ? this.errorEntry = true : finalArr.push(this.evalRegExp(startArr[i]));
              //If undefined selected
              if (this.dataType === "undefined")
                this.evalUndefined(startArr[i]) === "error" ? this.errorEntry = true : finalArr.push(this.evalUndefined(startArr[i]));
            } //End of for loop

            return finalArr;
          }, //End of textAreaValuesSplit





          evalArray(arrStr, arr) {
            if (arrStr === "[]") return arr;
            else {
              if (arrStr[0] !== "[" || arrStr[arrStr.length-1] !== "]"){
                console.log("In the error because the first or the last character of the string do not indicate an array");
                return "error";
              }
              else {
                console.log("In the else of the eval array. The arrStr before the slice:", arrStr);
                arrStr = arrStr.slice(1, arrStr.length-1);
                console.log("In the else of the eval array. The arrStr after the slice:", arrStr);
                let es5FunctionRegEx = "function\\s+[^0-9\\|°¬\\!#\\$%/\\(\\)\\?¡¿\\+\\{\\}\\[\\]:\\.\\,;@ª^\\*<>=\\&]*\\s*\\(([^\\|°¬\\!#\\$%/\\(\\)\\?¡¿\\+\\{\\}\\[\\]:\\.\\,;@ª^\\*<>=\\&]*,?\\s*)+\\)\\s*\\{.*\\}";
                let es6FunctionRegEx = "\\(([^\\|°¬\\!#\\$%/\\(\\)\\?¡¿\\+\\{\\}\\[\\]:\\.\\,;@ª^\\*<>=\\&]*,?\\s*)+\\)\\s*=>\\s*\\{.*\\}";

                //Number
                if(arrStr.search(/\d+(\.\d+)?,/) === 0 || arrStr.search(/\d+(\.\d+)?\s*$/) === 0) {
                  console.log("else if for number");
                  arr.push(Number(arrStr.match(/\d+(\.\d+)?/)[0]));
                  console.log(Number(arrStr.match(/\d+(\.\d+)?/)[0]));
                  arrStr = arrStr.slice(arrStr.match(/\d+(\.\d+)?/)[0].length + 1);
                  // arrStr = arrStr.slice(arrStr.indexOf(",") + 1);
                  arrStr = arrStr.trim();
                  console.log("end of else if");
                  return this.evalArray("[" + arrStr + "]", arr);
                }

                //true
                else if (arrStr.indexOf("true,") === 0 || arrStr.search(/true\s*$/) === 0) {
                  console.log("else if for true");
                  arr.push(true);
                  arrStr = arrStr.slice(5);
                  arrStr = arrStr.trim();
                  return this.evalArray("[" + arrStr + "]", arr);
                }

                //false
                else if (arrStr.indexOf("false,") === 0 || arrStr.search(/false\s*$/) === 0) {
                  console.log("else if for false");
                  arr.push(false);
                  arrStr = arrStr.slice(6);
                  arrStr = arrStr.trim();
                  return this.evalArray("[" + arrStr + "]", arr);
                }

                //null
                else if (arrStr.indexOf("null,") === 0 || arrStr.search(/null\s*$/) === 0) {
                  console.log("else if for null");
                  arr.push(null);
                  arrStr = arrStr.slice(5);
                  arrStr = arrStr.trim();
                  return this.evalArray("[" + arrStr + "]", arr);
                }

                //Undefined
                else if (arrStr.indexOf("undefined,") === 0 || arrStr.search(/undefined\s*$/) === 0) {
                  console.log("else if for undefined");
                  arr.push(undefined);
                  arrStr = arrStr.slice(10);
                  arrStr = arrStr.trim();
                  return this.evalArray("[" + arrStr + "]", arr);
                }

                //string
                else if (arrStr.search(/["'`]/) === 0) {
                  console.log("else if for string");
                  let firstQuote = arrStr[0];
                  if (arrStr.indexOf(firstQuote + ",") > 0) {
                    arr.push(arrStr.substring(1, arrStr.indexOf(firstQuote + ",")));
                    arrStr = arrStr.slice(arrStr.indexOf(firstQuote + ",") + 2);
                    arrStr = arrStr.trim()
                  }
                  else if (arrStr.lastIndexOf(firstQuote) === arrStr.length-1) {
                      arr.push(arrStr.substring(1, arrStr.length-1));
                      arrStr = "";
                  }
                  return this.evalArray("[" + arrStr + "]", arr);
                }

                //function es5 es6
                else if (arrStr.search(RegExp(es5FunctionRegEx)) === 0 ||  arrStr.search(RegExp(es6FunctionRegEx)) === 0) {

                  console.log("else if for function");
                  let params = arrStr.slice(arrStr.indexOf("(") + 1, arrStr.indexOf(")")).split(/,\s*/);
                  console.log("params are", params);
                  console.log("arrStr is", arrStr.match(/function\s+[^0-9\|°¬\!#\$%/\(\)\?¡¿\+\{\}\[\]:.\,;@ª^\*<>=\&]*\s*\(([^\|°¬\!#\$%/\(\)\?¡¿\+\{\}\[\]:\.\,;@ª^\*<>=\&]*,?\s*)+\)\s*\{.*\}/));
                  //If there is a function and separated by a comma with other array elements
                  if(arrStr.search(RegExp(es5FunctionRegEx + ",")) !== -1 ||
                  arrStr.search(RegExp(es6FunctionRegEx + ",")) !== -1){
                    console.log("In if for functions");
                    params.push(arrStr.slice(arrStr.indexOf("{") + 1, arrStr.indexOf("}, ")));
                    arr.push(new Function(...params));
                    arrStr = arrStr.slice(arrStr.indexOf("}, ") + 3).trim();
                    console.log("arrStr is", arrStr);
                  }
                  //if the function is the last element of the array
                  else if ((RegExp(es5FunctionRegEx).test(arrStr) && arrStr.match(RegExp(es5FunctionRegEx))[0].length === arrStr.length) ||
                  RegExp(es6FunctionRegEx).test(arrStr) && arrStr.match(RegExp(es6FunctionRegEx))[0].length === arrStr.length) {
                    console.log("in else if for functions");
                    params.push(arrStr.slice(arrStr.indexOf("{") + 1, arrStr.lastIndexOf("}")));
                    arr.push(new Function(...params));
                    arrStr = "";
                    console.log(arrStr);
                  }
                  return this.evalArray("[" + arrStr + "]", arr);
                }

                //array
                else if (arrStr.indexOf("[") === 0){
                  console.log("else if for array");

                  if (this.sliceArrObj("[", "]", arrStr)) {
                    let arrStrSubstring = arrStr.substring(0, this.sliceArrObj("[", "]", arrStr));
                    console.log("arrStrSubstring is", arrStrSubstring);
                    //Push in arr array the function for evaluating arrays or objects (recursively), with the related substring
                    arr.push(this.evalArray(arrStrSubstring, []));

                    //slice the arrayString at the level of the substring
                    arrStr = arrStr.slice(this.sliceArrObj("[", "]", arrStr) + 1);
                    arrStr = arrStr.trim();
                    return this.evalArray("[" + arrStr + "]", arr);
                  }
                }

                //object
                else if (arrStr.indexOf("{") === 0){
                  console.log("else if for object");

                  if (this.sliceArrObj("{", "}", arrStr)) {
                    let arrStrSubstring = arrStr.substring(0, this.sliceArrObj("{", "}", arrStr));
                    console.log("arrStrSubstring is", arrStrSubstring);
                    //Push in arr array the function for evaluating arrays or objects (recursively), with the related substring
                    arr.push(this.evalArray(arrStrSubstring, []));

                    //slice the arrayString at the level of the substring
                    arrStr = arrStr.slice(this.sliceArrObj("{", "}", arrStr) + 1);
                    arrStr = arrStr.trim();
                    return this.evalArray("[" + arrStr + "]", arr);
                  }
                }

                //There was no identification of any data type so error is returned
                else {
                  console.log("The data type was not matched");
                  return "error";
                }
              }
            } //End of top else
          }, //End of evalArray





          evalBoolean(el){
            if (el === "true") return true;
            if (el === "false") return false;
            return "error";
          },



          evalFunction(el){
            el = el.trim();
            console.log("In evalFunction. The el in the evaFunction is:", el);

            if (!el.startsWith("function") ||
            !el.search(/(var|let|const)\s[A-z_\$]\w*\s*=\s*\(([A-z_\$]\w*,?\s*)*\)\s*=>/ !== 0) ||
            !el.endsWith("}")) return "error";

            let params = el.slice(el.indexOf("(") + 1, el.indexOf(")")).split(/,\s*/);
            params.push(el.slice(el.indexOf("{") + 1, el.indexOf("}")));
            console.log(params);


            return new Function(...params);
          },



          evalNull(el){
            return el === "null" ? null : "error";
          },



          evalNumber(el){
            return isNaN(Number(el)) ? "error" : Number(el);
          },




          evalObject(el){
            el = el.trim();
            if (!el.startsWith("{") || !el.endsWith("}")) return "error";
            console.log("In eval Object. el is", el, "Need to convert from string to object");

            //Put quotes in the keys of the object so it can pass the JSON.parse
            el = el.replace(/(\{)(\s*)(\w)/g, "$1$2\"$3")
            .replace(/(\w)(\s*)(:)/g, "$1$2\"$3")
            .replace(/(,)(\s*)(\w)/g, "$1$2\"$3");
            console.log("After the replacements, the string is:", el);
            let parsedEl = JSON.parse(el);
            console.log(parsedEl);
            return parsedEl;
          },




          evalRegExp(el){
            let elFlags = el.slice(el.lastIndexOf("/") + 1);
            let flags = "igmsuy";
            let source = el.slice(1, el.lastIndexOf("/"));
            console.log(elFlags, flags, source);

            //The last character is not a /
            if (elFlags === 0 && el.length - 1 !== el.lastIndexOf("/")) return "error";


            //some of the flag characters are incorrect
            if (elFlags.length > 0) {
              for (var i = 0; i < elFlags.length; i++) {
                if (!flags.includes(elFlags[i])) return "error";
              }
            }

            //The first character is not a /
            if (el[0] !== "/") return "error";

            let sourceCheck = source.replace(/[^\(\)\[\]\{\}]/g, "");
            console.log(sourceCheck);

            while (sourceCheck.length > 0) {
              if (/\[\]/.test(sourceCheck) || /\(\)/.test(sourceCheck) || /\{\{/.test(sourceCheck)) {
                sourceCheck = sourceCheck.replace(/\[\]/, "").replace(/\(\)/, "").replace(/\{\}/, "");
              }
              else return "error";
            }



            return new RegExp(source, elFlags);
          },




          evalString(el){
            //Should I be removing the quotes or not?
            //How do I deal with tildas where the breaks are not indicating a
            //line break but rather a continuation of a sentence?
            //Get rid of extra quotation marks that might already exist at the input field
            console.log("In the evalString method");
            return el.replace(/^(?:["'`]+)?(.*[^"'`])(?:["'`]+)?\s*$/gm, "$1").trim();
          },




          evalUndefined(el){
            return el === "undefined" ? undefined : "error";
          },




          //finds if the opening and closing brackets are structured correctly in an array or
          //an object
          sliceArrObj(openBrkt, closeBrkt, arr) {
              let counter = 1;
              let subStr = arr.slice(1);
              for (let i = 0; i < subStr.length; i++) {
                if(subStr[i] === openBrkt) counter++;
                else if(subStr[i] === closeBrkt){
                  counter--;
                  if(counter === 0) return i+2;
                }
                else continue;
              } //End of for loop for substring
              return false;
          },

        }, //End of methods
        computed: {
          //Create the ID for the div tag that includes the arguments textArea
          argIdNum(){
            return this.$attrs.id.replace(/[A-z]/g, "");
          }

        },
        <templ></templ>ate:
        `
          <div class="divFunctionArgument" :key="set">
            <h2>Argument Set {{argIdNum}}</h2>
            <label class="labelArgumentsDataTypes">
              <textarea
                class="textAreaArgumentsPaste"
                placeholder="
                Enter the function's argument.
                If you are entering more than one arguments,
                - in order to run the function several times, -
                separate them with a line break"
                v-model="textAreaValues"
                @keyup="textAreaValuesSplit($event.target.value)">

              </textarea>
            </label>
            <h4>Argument data type:</h4>
            <div class="divLabelDataType">
              <form>
                <label class="labelArgumentsDataTypes">
                  Array:
                  <input type="radio" name="inputRadioDataType" value="array" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
                <label class="labelArgumentsDataTypes">
                  Boolean:
                  <input type="radio" name="inputRadioDataType" value="boolean" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
                <label class="labelArgumentsDataTypes">
                  Null:
                  <input type="radio" name="inputRadioDataType" value="null" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
                <label class="labelArgumentsDataTypes">
                  Number:
                  <input type="radio" name="inputRadioDataType" value="number" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
                <label class="labelArgumentsDataTypes">
                  Object literal:
                  <input type="radio" name="inputRadioDataType" value="object" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
                <label class="labelArgumentsDataTypes">
                  RegExp:
                  <input type="radio" name="inputRadioDataType" value="regexp" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
                <label class="labelArgumentsDataTypes">
                  String:
                  <input type="radio" name="inputRadioDataType" value="string" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
                <label class="labelArgumentsDataTypes">
                  Undefined:
                  <input type="radio" name="inputRadioDataType" value="undefined" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
                <label class="labelArgumentsDataTypes">
                  callback function:
                  <input type="radio" name="inputRadioDataType" value="function" v-model="dataType" @change="textAreaValuesSplit($event.target.value)">
                </label>
              </form>

            </div> <!--End of divLabelDataType-->

            <div class="divErrorEntries">
              <div class="divErrorEntry" v-show="errorEntry === true && dataType === 'array'">
                Incorrect array entry(ies). Make sure you have entered arrays that start and end with
                square brackets - [].
                Also make sure that each one of the array elements does not have any errors when entered (example: a mistyped function or a number with incorrect decimals).
                The values should be separated by a line break and without any extra
                line breaks at the end of the text.
              </div>
              <div class="divErrorEntry" v-show="errorEntry === true && dataType === 'boolean'">
                Incorrect boolean entry(ies). Make sure you have entered only boolean values (true, false).
                The values should be separated by a line break and without any extra
                line breaks at the end of the text.
              </div>
              <div class="divErrorEntry" v-show="errorEntry === true && dataType === 'function'">
                Incorrect function entry(ies). Make sure you have entered the function in
                the correct format, with opening and closing curly braces.
                The values should be separated by a line break and without any extra
                line breaks at the end of the text.
              </div>
              <div class="divErrorEntry" v-show="errorEntry === true && dataType === 'null'">
                Incorrect null entry(ies). Make sure you have entered only null values (null).
                The values should be separated by a line break and without any extra
                line breaks at the end of the text.
              </div>
              <div class="divErrorEntry" v-show="errorEntry === true && dataType === 'number'">
                Incorrect number entry(ies). Make sure you have entered only numeric values (integers or floats).
                The values should be separated by a line break and without any extra
                line breaks at the end of the text.
              </div>
              <div class="divErrorEntry" v-show="errorEntry === true && dataType === 'object'">
                Incorrect object literal entry(ies). Make sure you have entered
                an object that opens and closes with curly braces - {}.
                The values should be separated by a line break and without any extra
                line breaks at the end of the text.
              </div>
              <div class="divErrorEntry" v-show="errorEntry === true && dataType === 'regexp'">
                Incorrect regex entry(ies). Make sure you have entered a regular
                expression that  opens and closes with slashes.
                Make sure that the format of the regex (parenthesis, brackets etc)
                is correct. Make sure that the flags are correct.
                The values should be separated by a line break and without any extra
                line breaks at the end of the text.
              </div>
              <div class="divErrorEntry" v-show="errorEntry === true && dataType === 'undefined'">
                Incorrect undefined entry(ies). Make sure you have entered only "undefined" as a value.
                The values should be separated by a line break and without any extra
                line breaks at the end of the text.
              </div>
            </div>
          </div>
        `
      }); //End of Vue component







//----MAIN VUE INSTANCE----
      let app = new Vue({
        el: "#main",
        data: {
          numOfArgumentsSets: 0,
          argumentsArr: []
        },
        methods: {
          changeArgumentsArrLength(){
            // Access the components through app.$children
            Number(this.numOfArgumentsSets) > this.argumentsArr.length ?
            this.argumentsArr.push("") :
            this.argumentsArr.pop();
          }
        }
      });

    </script>

  </body>
</html>
