<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>xPath Generator</title>

    <style media="screen">

      *{
        box-sizing: border-box;
      }

      .divContainer{
        display: grid;
        grid-template-rows: 85vh 15vh;
        grid-template-columns: 60vw 40vw;
        grid-template-areas:
        "sectionOptions sectionElements"
        "sectionResult sectionResult";
      }

      .sectionOptions{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 55% 5% 13% 7% 20%;
        grid-template-areas:
        "branches functions"
        "brackets functions"
        "brackets attributes"
        "operators attributes"
        "operators parameters";
        font-size: 0.9rem;
      }

      .branches, .functions, .brackets, .operators, .attributes, .parameters{
        padding: 10px;
      }

      .branches{
        grid-area: branches;
      }

      .divBranchesInputs{
        display: flex;
        flex-flow: column wrap;
        height: 95%;
      }

      .brackets{
        grid-area: brackets;
      }

      .divBracketsInputs{
        height: 80%
      }

      .operators{
        grid-area: operators;
      }

      .divOperatorsInputs{
        display: flex;
        flex-flow: column wrap;
        height: 80%;
      }

      .functions{
        grid-area: functions;
      }

      .divFunctionsInputs{
        display: flex;
        flex-flow: column wrap;
        height: 95%;
        /* flex-wrap: wrap; */
      }

      .attributes{
        grid-area: attributes;
      }

      .divAttributesInputs{

      }

      .parameters{
        grid-area: parameters;
      }



      .sectionElements, .sectionResult{
        padding: 10px 20px;
      }

      h3, h4{
        text-align: center;
      }

      label{
        margin-right: 10px;
      }

      .sectionElements{
        grid-area: sectionElements;
        background: lightyellow;
      }

      .sectionResult{
        grid-area: sectionResult;
        background: lightgray;
      }

      /* This is for the v-show parameters */
      .divParameters{

      }



    </style>

  </head>







  <body>
    <main id="mainSlot">
      <div class="divContainer">

        <section class="sectionOptions">
          <div class="branches" style="background:pink;">
            <h3>Branch / Axes</h3>
            <div class="divBranchesInputs">
              <label>
                <input type="radio" value="" name="axisOption" v-model="axis">
                None
              </label>
              <label>
                <input type="radio" value="/self::" name="axisOption" v-model="axis" @click="node = 'node()'">
                . (/self::node())
              </label>
              <label>
                <input type="radio" value="/parent::" name="axisOption" v-model="axis" @click="node = 'node()'">
                .. (/parent::node())
              </label>
              <label>
                <input type="radio" value="//" name="axisOption" v-model="axis">
                // (descendant-or-self:node())
              </label>
              <label>
                <input type="radio" value="/ancestor::" name="axisOption" v-model="axis">
                /ancestor::
              </label>
              <label>
                <input type="radio" value="/ancestor-or-self::" name="axisOption" v-model="axis">
                /ancestor-or-self::
              </label>
              <label>
                <input type="radio" value="/attribute::" name="axisOption" v-model="axis">
                /attribute:: (@)
              </label>
              <label>
                <input type="radio" value="/child::" name="axisOption" v-model="axis">
                /child::
              </label>
              <label>
                <input type="radio" value="/descendant::" name="axisOption" v-model="axis">
                /descendant::
              </label>
              <label>
                <input type="radio" value="/descendant-or-self::" name="axisOption" v-model="axis">
                /descendant-or-self::
              </label>
              <label>
                <input type="radio" value="/following::" name="axisOption" v-model="axis">
                /following::
              </label>
              <label>
                <input type="radio" value="/following-sibling::" name="axisOption" v-model="axis">
                /following-sibling::
              </label>
              <label>
                <input type="radio" value="/namespace::" name="axisOption" v-model="axis">
                /namespace::
              </label>
              <label>
                <input type="radio" value="/parent::" name="axisOption" v-model="axis">
                /parent::
              </label>
              <label>
                <input type="radio" value="/preceding::" name="axisOption" v-model="axis">
                /preceding::
              </label>
              <label>
                <input type="radio" value="/preceding-sibling::" name="axisOption" v-model="axis">
                /preceding-sibling::
              </label>
              <label>
                <input type="radio" value="/self::" name="axisOption" v-model="axis">
                /self::
              </label>
              <label>
                Node: <br>
                <input type="text" name="addNode" v-model="node" @keyup.enter="addBranch($event)">
              </label>
            </div>
          </div>




          <div class="brackets" style="background:lightblue;">
            <h3>Brackets / Parenthesis</h3>
            <div class="divBracketsInputs">
              <label>
                <input type="radio" name="brackets" value="" v-model="brackets">
                None
              </label>
              <label>
                <input type="radio" name="brackets" value="[" v-model="brackets" @click="addBrackets($event)">
                Bracket [
              </label>
              <label>
                <input type="radio" name="brackets" value="]" v-model="brackets" @click="addBrackets($event)">
                Bracket ]
              </label>
              <label>
                <input type="radio" name="brackets" value="(" v-model="brackets" @click="addBrackets($event)">
                Parenthesis (
              </label>
              <label>
                <input type="radio" name="brackets" value=")" v-model="brackets" @click="addBrackets($event)">
                Parenthesis )
              </label>
            </div>
          </div>




          <div class="operators" style="background:lightgray;">
            <h3>Operators</h3>
            <div class="divOperatorsInputs">
              <label>
                <input type="radio" name="inputOperator" value="" v-model="operator">
                None
              </label>
              <label>
                <input type="radio" name="inputOperator" value="and" v-model="operator" @click="addOperators($event)">
                and
              </label>
              <label>
                <input type="radio" name="inputOperator" value="or" v-model="operator" @click="addOperators($event)">
                or
              </label>
              <label>
                <input type="radio" name="inputOperator" value="|" v-model="operator" @click="addOperators($event)">
                |
              </label>
              <label>
                <input type="radio" name="inputOperator" value="=" v-model="operator" @click="addOperators($event)">
                =
              </label>
              <label>
                <input type="radio" name="inputOperator" value="!=" v-model="operator" @click="addOperators($event)">
                !=
              </label>
              <label>
                <input type="radio" name="inputOperator" value="+" v-model="operator" @click="addOperators($event)">
                +
              </label>
              <label>
                <input type="radio" name="inputOperator" value="-" v-model="operator" @click="addOperators($event)">
                -
              </label>
              <label>
                <input type="radio" name="inputOperator" value="*" v-model="operator" @click="addOperators($event)">
                *
              </label>
              <label>
                <input type="radio" name="inputOperator" value="div" v-model="operator" @click="addOperators($event)">
                div
              </label>
              <label>
                <input type="radio" name="inputOperator" value="<" v-model="operator" @click="addOperators($event)">
                &lt;
              </label>
              <label>
                <input type="radio" name="inputOperator" value="<=" v-model="operator" @click="addOperators($event)">
                &lt;=
              </label>
              <label>
                <input type="radio" name="inputOperator" value=">" v-model="operator" @click="addOperators($event)">
                &gt;
              </label>
              <label>
                <input type="radio" name="inputOperator" value=">=" v-model="operator" @click="addOperators($event)">
                &gt;=
              </label>
              <label>
                <input type="radio" name="inputOperator" value="mod" v-model="operator" @click="addOperators($event)">
                mod
              </label>
            </div>
          </div>




          <div class="functions"style="background:lightgreen;">
            <h3>Function</h3>
            <div class="divFunctionsInputs">
              <label>
                <input type="radio" name="activeFunction" value="" v-model="activeFunction">
                None
              </label>
              <label>
                <input type="radio" name="activeFunction" value="boolean" v-model="activeFunction" @click="addFunction($event)">
                boolean()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="ceiling" v-model="activeFunction" @click="addFunction($event)">
                ceiling()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="choose" v-model="activeFunction" @click="addFunction($event)">
                choose()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="concat" v-model="activeFunction" @click="addFunction($event)">
                concat()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="contains" v-model="activeFunction" @click="addFunction($event)">
                contains()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="count" v-model="activeFunction" @click="addFunction($event)">
                count()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="element-available" v-model="activeFunction" @click="addFunction($event)">
                element-available()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="false" @click="addFunction($event)">
                false()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="floor" v-model="activeFunction" @click="addFunction($event)">
                floor()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="function-available" v-model="activeFunction" @click="addFunction($event)">
                function-available()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="lang" v-model="activeFunction" @click="addFunction($event)">
                lang()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="last" @click="addFunction($event)">
                last()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="local-name" v-model="activeFunction" @click="addFunction($event)">
                local-name()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="name" v-model="activeFunction" @click="addFunction($event)">
                name()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="namespace-url" v-model="activeFunction" @click="addFunction($event)">
                namespace-url()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="normalize-space" v-model="activeFunction" @click="addFunction($event)">
                normalize-space()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="not" v-model="activeFunction" @click="addFunction($event)">
                not()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="number" v-model="activeFunction" @click="addFunction($event)">
                number()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="position" @click="addFunction($event)">
                position()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="round" v-model="activeFunction" @click="addFunction($event)">
                round()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="starts-with" v-model="activeFunction" @click="addFunction($event)">
                starts-with()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="string" v-model="activeFunction" @click="addFunction($event)">
                string()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="string-length" v-model="activeFunction" @click="addFunction($event)">
                string-length()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="substring" v-model="activeFunction" @click="addFunction($event)">
                substring()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="substring-after" v-model="activeFunction" @click="addFunction($event)">
                substring-after()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="substring-before" v-model="activeFunction" @click="addFunction($event)">
                substring-before()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="sum" v-model="activeFunction" @click="addFunction($event)">
                sum()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="translate" v-model="activeFunction" @click="addFunction($event)">
                translate()
              </label>
              <label>
                <input type="radio" name="activeFunction" value="true" @click="addFunction($event)">
                true()
              </label>
            </div>
          </div>




          <div class="attributes"style="background:lightyellow;">
            <h3>Attributes</h3>
            <div class="divAttributesInputs">
              <label>
                <input type="radio" name="attribute" value="" v-model="attribute">
                None
              </label>
              <label>
                <input type="radio" name="attribute" value="@alt" v-model="attribute" @click="addAttributes($event)">
                @alt
              </label>
              <label>
                <input type="radio" name="attribute" value="@class" v-model="attribute" @click="addAttributes($event)">
                @class
              </label>
              <label>
                <input type="radio" name="attribute" value="@href" v-model="attribute" @click="addAttributes($event)">
                @href
              </label>
              <label>
                <input type="radio" name="attribute" value="@id" v-model="attribute" @click="addAttributes($event)">
                @id
              </label>
              <label>
                <input type="radio" name="attribute" value="@name" v-model="attribute" @click="addAttributes($event)">
                @name
              </label>
              <label>
                <input type="radio" name="attribute" v-model="attribute" value="@src" @click="addAttributes($event)">
                @src
              </label>
              <label>
                <input type="radio" name="attribute" v-model="attribute" value="@style" @click="addAttributes($event)">
                @style
              </label>
              <label>
                <input type="radio" name="attribute" value="@title" v-model="attribute" @click="addAttributes($event)">
                @title
              </label>
              <label>
                <input type="radio" name="attribute" value="@value" v-model="attribute" @click="addAttributes($event)">
                @value
              </label>
              <label>
                <input type="text" name="attribute" value="" v-model="attribute" @keyup.enter="addAttributes($event)" size="12">
                Other
              </label>
            </div>
          </div>




          <div class="parameters"style="background:beige;">
            <h3>{{activeFunctionArr[activeFunctionArr.length - 1]}} Parameters</h3>

            <div class="divCheckboxParams">
              <label v-show="showNumberInput">
                <input type="checkbox" name="numberEntry" value="" v-model="numberEntry">
                Entry is a number
              </label>
              <label v-show="activeFunction === 'contains'">
                <input type="checkbox" name="translateString" v-model="translateString">
                Translate the string
              </label>
            </div>
            <div class="divStringParam">
              <label>
                <input type="text" name="parameterString" v-model="parameterString"  @keyup.enter="addParameters($event)">
                Enter value
              </label>
            </div>
            <div class="divAlert">
              {{paramAlert}}
            </div>

          </div> <!-- End of parameters -->

        </section>
        <!-- End of section Options -->


        <section class="sectionElements">
          <div class="">
            Active function (Arr): {{activeFunctionArr[activeFunctionArr.length - 1]}} <br>
            Active function (str): {{activeFunction}} <br>
            concatenation of functions: {{functionsSequenceArrJoin}}
          </div>
          <br><br><br><br>

          <div class="">
            The functionsSequenceArr is displayed here
            {{functionsSequenceArr}}
            <input type="button" name="" value="Concat last two elements" @click="concatFunctionElements()">
          </div>
          <br><br><br>

          <div class="">
            The pathArray is displayed here <br>
            {{pathArray}}
          </div>
        </section>
        <!-- End of section Elements -->

        <section class="sectionResult">
          Result displayed here: {{fullPath}}
        </section>
        <!-- End of section Result -->

      </div><!-- End of divContainer -->
    </main>

  </body>









  <script>

    var app = new Vue({
      el: "#mainSlot",
      data: {
        axis:"",
        node: "", //The node that is added after the axis
        brackets: "", // If new brackets are opening or not
        operator: "", //or, and, and not, not
        activeFunction: "", //populated when a function is selected - convert into array?
        activeFunctionArr: [],
        translateString: true, //checkbox for when the 'translate' option is selected
        numberEntry: false, //When true, the submited entry will not be in quotes
        parameterString: "", //populated when a string is entered in the input slot for each function (in parameters)
        paramAlert: "",
        //Perhaps need to modify this to get multiple values
        //Not sure if I should use the above
        attribute: "", //Attributes that are inside functions or brackets
        pathArray: [], //array with full path of all different additions
        functionsSequenceArr: [], //array of all functions and parameters that are selected
        functionsCounter: 0

      }, //End of data
      methods:{
        //Adds strings to the pathArray OR
        //If there are strings in the functionsSequenceArr then it adds to the functionsSequenceArr instead
        addBranch(event){
          this.zeroProperties(event.target.name);
          //Add the string to the function array
          if (this.functionsCounter !== 0) {
            let functionStr = this.functionsSequenceArr[this.functionsSequenceArr.length-1];
            // Add a comma if this is not the beginning of the function
            if(functionStr[functionStr.length-1] !== "(") this.functionsSequenceArr.push(", ");


            //If there is an opening bracket, then the path should not start with a forward slash
            if(functionStr[functionStr.length-1] === "["){
              this.axis === "//" ?
              this.functionsSequenceArr.push(this.axis + event.target.value) :
              this.functionsSequenceArr.push(this.axis.slice(1) + event.target.value);
            }

            this.functionsSequenceArr.push(this.axis.slice(1) + event.target.value);
          }
          //Add string to the path array
          else this.pathArray.push(this.axis + event.target.value);

          this.node = "";
        }, //End of AddBranch



        addBrackets(event){
          this.zeroProperties(event.target.name);
          if (this.functionsCounter > 0) {
            this.functionsSequenceArr.push(event.target.value);
            if (event.target.value === ")") {
              this.functionsCounter --;
              this.activeFunctionArr.pop();
              this.activeFunction = this.activeFunctionArr[this.activeFunctionArr.length - 1] || "";
              if (this.functionsCounter === 0) {
                this.pathArray.push(this.functionsSequenceArr.join(""));
                this.functionsSequenceArr = [];
              }
            }
            if(event.target.value === "("){
              this.functionsCounter ++;
              this.activeFunctionArr.push(this.activeFunctionArr[this.activeFunctionArr.length - 1]);
            }
          }
          else if(this.pathArray.length > 0 && event.target.value !== ")"){
            this.pathArray.push(event.target.value);
          }
        }, //End of addBrackets



        addOperators(event){
          this.zeroProperties(event.target.name);
          let operatorsRegex = /and|or|\||=|!=|\+|-|\*|div|<|<=|>|>=|mod/;
          if (this.functionsCounter !== 0 && !operatorsRegex.test(this.functionsSequenceArr[this.functionsSequenceArr.length - 1])) {
            this.functionsSequenceArr.push(event.target.value);
          }
          else if(this.pathArray.length !== 0 && !operatorsRegex.test(this.pathArray[this.pathArray.length - 1])){
            this.pathArray.push(event.target.value);
          }
          console.log("about to hit zero", this.operator);
          this.operator = "";
          console.log(this.operator);
          // this.zeroProperties(event.target.name);
        },



        addAttributes(event){
          if (this.functionsCounter !== 0 &&
          !this.functionsSequenceArr[this.functionsSequenceArr.length - 1].startsWith("@")) {

            //If the previous element in the array is a branch, then push the attribute with a forward
            //slash, otherwise just push the attribute
            this.functionsSequenceArr[this.functionsSequenceArr.length - 1].includes("::") ||
            this.functionsSequenceArr[this.functionsSequenceArr.length - 1].includes("//") ||
            this.functionsSequenceArr[this.functionsSequenceArr.length - 1] === "." ?
            this.functionsSequenceArr.push("/" + event.target.value) :
            this.functionsSequenceArr.push(event.target.value);
          }
          else if(this.pathArray !== 0 &&
          !this.pathArray[this.pathArray.length - 1].startsWith("@")) {
            //If the previous element in the array is a branch, then push the attribute with a forward
            //slash, otherwise just push the attribute
            this.pathArray[this.pathArray.length - 1].includes("::") ||
            this.pathArray[this.pathArray.length - 1].includes("//") ||
            this.pathArray[this.pathArray.length - 1] === "."?
            this.pathArray.push("/" + event.target.value) :
            this.pathArray.push(event.target.value);
          }
          return this.zeroProperties(event.target.name);
        },



        //Adds a function name with parenthesis ( in the functionsSequenceArr
        addFunction(event){
          this.zeroProperties(event.target.name);
          console.log("In add function. The counter before the addition is:", this.functionsCounter);
          if (event.target.value === "false" ||
              event.target.value === "last" ||
              event.target.value === "position" ||
              event.target.value === "true") {
            this.functionsSequenceArr.push(event.target.value + "()"); //Array with all the functions and params
          }
          else {
            this.functionsSequenceArr.push(event.target.value + "(");
            this.activeFunctionArr.push(event.target.value);
            this.functionsCounter ++;
          }
        },



        addParameters(event){

          if (this.operator !== "") {
            if(this.functionsCounter > 0){
              this.functionsSequenceArr.push("'" + event.target.value + "'");
            }
            else {
              this.pathArray.push("'" + event.target.value + "'");
            }
            return this.zeroProperties(event.target.name);
          }

          //boolean function
          if(this.activeFunction === "boolean"){
              if(this.numberEntry){
                if (!Number(event.target.value)) {
                  this.parameterString = "";
                  this.numberEntry = false;
                  this.paramAlert = "Invalid number entry";
                }
                else this.functionsSequenceArr.push(Number(event.target.value));
              }
              else this.functionsSequenceArr.puah(event.target.value);

              this.zeroProperties(event.target.value);
          }

          //count function
          if (this.activeFunction === "count") {

          }

          //ceiling function
          if(this.activeFunction === "ceiling"){

          }

          // choose function
          if(this.activeFunction === "choose"){

          }

          // concat function
          if(this.activeFunction === "concat"){

          }

          // contains function
          if (this.activeFunction === "contains") {
            let translateStringElements = "";
            if(this.functionsCounter > 0){
              if(!this.translateString && this.functionsSequenceArr[this.functionsSequenceArr.length -1] !== "contains("){
                this.functionsSequenceArr.push("'" + event.target.value + "'");
              }
              else if (this.translateString && this.functionsSequenceArr[this.functionsSequenceArr.length -1] !== "contains("){
                for (let i = 0; i < this.parameterString.length; i++) {
                  if(!translateStringElements.includes(this.parameterString[i].toLowerCase()) && /\w/.test(this.parameterString[i]))
                  translateStringElements += this.parameterString[i].toLowerCase();
                }
              }
              this.functionsSequenceArr.push(`translate(${this.functionsSequenceArr.pop()}, '${translateStringElements.toUpperCase()}', '${translateStringElements}'), ${event.target.value.toLowerCase()}`);
            }
            this.zeroProperties(event.target.name);
          } //End of if contains

        //count function
        //element-available function
        //false function
        //floor function
        //function available function
        //lang function
        //last function
        //local-name function
        // name function
        // namespace-url function
        //normalize-space function
        //not function
        //number function
        //position function
        //round function
        //starts-with function
        //string function
        //string-length function
        //substring function
        //substring-after function
        // substring-before function
        //sum function
        //translate function
        //true function
      }, //End of addParameters()



        //Concatenates the last elements that are in the functionsSequenceArr and are separated by a comma
        concatFunctionElements(){
          console.log(this.functionsSequenceArr);
          if (this.functionsSequenceArr.length > 3 && this.functionsSequenceArr[this.functionsSequenceArr.length-2] === ", ") {
            this.functionsSequenceArr[this.functionsSequenceArr.length-3] += this.functionsSequenceArr.pop();
            this.functionsSequenceArr.pop();
          }
          else {
            console.log("The array is not big enough or the element before the last is not a comma.");
          }
        }, //End of concat Function Elements



        //Zero all the properties of the data object
        zeroProperties(eventName){
          if(eventName !== "addNode") this.axis = "";
          if(eventName !== "brackets") this.brackets = "";
          if(eventName !== "inputOperator") this.operator = "";
          // this.activeFunction = "";
          this.translateString = true;
          this.numberEntry = false;
          this.paramAlert = "";
          if(eventName !== "attribute") this.attribute = "";
          if(eventName !== "parameterString") this.parameterString = "";
        } //End of zero properties


      }, //End of methods
      computed: {
        fullPath(){
          return this.pathArray.join("");
        },

        functionsSequenceArrJoin(){
          return this.functionsSequenceArr.join("");
        },

        showNumberInput(){
          return this.activeFunction === "boolean" ||
          this.activeFunction === "sum"
          ? true : false;
        }
      } //end of computed properties
    });


    /*
    boolean( expression )
    ceiling(number )
    choose( boolean , object1, object2 )
    concat(string1 ,string2 [,stringn]* )
    contains(haystack, needle)
    count(node-set )
    element-available(QName )
    false()
    floor( number )
    function-available(name )
    lang(string )
    last()
    local-name( [node-set] )
    name( [node-set] )
    namespace-uri( [node-set] )
    normalize-space( [string] )
    not(expression )
    number( [object] )
    position()
    round(decimal )
    starts-with(haystack, needle)
    string( [object] )
    string-length( [string] )
    substring(string ,start [,length] )
    substring-after(haystack ,needle )
    substring-before(haystack ,needle )
    sum(node-set )
    translate(string, abc, XYZ)
    true()
    */

  </script>

</html>
