<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>xPath Generator</title>

    <style media="screen">

      *{
        box-sizing: border-box;
      }

      .divContainer{
        display: grid;
        grid-template-rows: 85vh 15vh;
        grid-template-columns: 60vw 40vw;
        grid-template-areas:
        "sectionOptions sectionElements"
        "sectionResult sectionResult";
      }

      .sectionOptions{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 60% 13% 7% 20%;
        grid-template-areas:
        "branches functions"
        "brackets attributes"
        "operators attributes"
        "operators parameters";
        font-size: 0.9rem;
      }

      .branches, .functions, .brackets, .operators, .attributes, .parameters{
        padding: 10px;
      }

      .branches{
        grid-area: branches;
      }

      .divBranchesInputs{
        display: flex;
        flex-flow: column wrap;
        height: 95%;
      }

      .brackets{
        grid-area: brackets;
      }

      .divBracketsInputs{

      }

      .operators{
        grid-area: operators;
      }

      .divOperatorsInputs{
        display: flex;
        flex-flow: column wrap;
        height: 95%;
      }

      .functions{
        grid-area: functions;
      }

      .divFunctionsInputs{
        display: flex;
        flex-flow: column wrap;
        height: 95%;
        /* flex-wrap: wrap; */
      }

      .attributes{
        grid-area: attributes;
      }

      .divAttributesInputs{

      }

      .parameters{
        grid-area: parameters;
      }

      .divParametersInputs{

      }



      .sectionElements, .sectionResult{
        padding: 10px 20px;
      }

      h3, h4{
        text-align: center;
      }

      label{
        margin-right: 10px;
      }

      .sectionElements{
        grid-area: sectionElements;
        background: lightyellow;
      }

      .sectionResult{
        grid-area: sectionResult;
        background: lightgray;
      }

      /* This is for the v-show parameters */
      .divParameters{

      }



    </style>

  </head>







  <body>
    <main id="mainSlot">
      <div class="divContainer">

        <section class="sectionOptions">
          <div class="branches" style="background:pink;">
            <h3>Branch</h3>
            <div class="divBranchesInputs">
              <label>
                <input type="radio" value="" name="axisOption" v-model="axis">
                None
              </label>
              <label>
                <input type="radio" value="//" name="axisOption" v-model="axis">
                //
              </label>
              <label>
                <input type="radio" value="/ancestor::" name="axisOption" v-model="axis">
                /ancestor::
              </label>
              <label>
                <input type="radio" value="/ancestor-or-self::" name="axisOption" v-model="axis">
                /ancestor-or-self::
              </label>
              <label>
                <input type="radio" value="/attribute::" name="axisOption" v-model="axis">
                /attribute::
              </label>
              <label>
                <input type="radio" value="/child::" name="axisOption" v-model="axis">
                /child::
              </label>
              <label>
                <input type="radio" value="/descendant::" name="axisOption" v-model="axis">
                /descendant::
              </label>
              <label>
                <input type="radio" value="/descendant-or-self::" name="axisOption" v-model="axis">
                /descendant-or-self::
              </label>
              <label>
                <input type="radio" value="/following::" name="axisOption" v-model="axis">
                /following::
              </label>
              <label>
                <input type="radio" value="/following-sibling::" name="axisOption" v-model="axis">
                /following-sibling::
              </label>
              <label>
                <input type="radio" value="/namespace::" name="axisOption" v-model="axis">
                /namespace::
              </label>
              <label>
                <input type="radio" value="/parent::" name="axisOption" v-model="axis">
                /parent::
              </label>
              <label>
                <input type="radio" value="/preceding::" name="axisOption" v-model="axis">
                /preceding::
              </label>
              <label>
                <input type="radio" value="/preceding-sibling::" name="axisOption" v-model="axis">
                /preceding-sibling::
              </label>
              <label>
                <input type="radio" value="/self::" name="axisOption" v-model="axis">
                /self::
              </label>
              <label>
                Node: <br>
                <input type="text" name="addPathNode" v-model="node" @keyup.enter="addToPath($event)">
              </label>
              <input type="button" name="" value="Push in function">
            </div>
          </div>




          <div class="brackets" style="background:lightblue;">
            <h3>Brackets</h3>
            <div class="divBracketsInputs">
              <label>
                <input type="radio" name="brackets" value="" v-model="brackets">
                None
              </label>
              <label>
                <input type="radio" name="brackets" value="[" v-model="brackets" @click="addToPath($event)">
                Bracket [
              </label>
              <label>
                <input type="radio" name="brackets" value="]" v-model="brackets" @click="addToPath($event)">
                Bracket ]
              </label>
              <label>
                <input type="radio" name="brackets" value=")" v-model="brackets" @click="addToPath($event)">
                End function )
              </label>
            </div>
          </div>




          <div class="operators" style="background:lightgray;">
            <h3>Operators</h3>
            <div class="divOperatorsInputs">
              <label>
                <input type="radio" name="inputOperator" value="" v-model="operator">
                None
              </label>
              <label>
                <input type="radio" name="inputOperator" value="and" v-model="operator">
                and
              </label>
              <label>
                <input type="radio" name="inputOperator" value="or" v-model="operator">
                or
              </label>
              <label>
                <input type="radio" name="inputOperator" value="|" v-model="operator">
                |
              </label>
              <label>
                <input type="radio" name="inputOperator" value="=" v-model="operator">
                =
              </label>
              <label>
                <input type="radio" name="inputOperator" value="!=" v-model="operator">
                !=
              </label>
              <label>
                <input type="radio" name="inputOperator" value="+" v-model="operator">
                +
              </label>
              <label>
                <input type="radio" name="inputOperator" value="-" v-model="operator">
                -
              </label>
              <label>
                <input type="radio" name="inputOperator" value="*" v-model="operator">
                *
              </label>
              <label>
                <input type="radio" name="inputOperator" value="div" v-model="operator">
                div
              </label>
              <label>
                <input type="radio" name="inputOperator" value="<" v-model="operator">
                &lt;
              </label>
              <label>
                <input type="radio" name="inputOperator" value="<=" v-model="operator">
                &lt;=
              </label>
              <label>
                <input type="radio" name="inputOperator" value=">" v-model="operator">
                &gt;
              </label>
              <label>
                <input type="radio" name="inputOperator" value=">=" v-model="operator">
                &gt;=
              </label>
              <label>
                <input type="radio" name="inputOperator" value="mod" v-model="operator">
                mod
              </label>
            </div>
          </div>




          <div class="functions"style="background:lightgreen;">
            <h3>Function</h3>
            <div class="divFunctionsInputs">
              <label>
                <input type="radio" name="inputFunction" value="" v-model="inputFunction">
                None
              </label>
              <label>
                <input type="radio" name="inputFunction" value="boolean" v-model="inputFunction" @click="addFunction($event)">
                boolean()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="ceiling" v-model="inputFunction" @click="addFunction($event)">
                ceiling()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="choose" v-model="inputFunction" @click="addFunction($event)">
                choose()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="concat" v-model="inputFunction" @click="addFunction($event)">
                concat()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="contains" v-model="inputFunction" @click="addFunction($event)">
                contains()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="count" v-model="inputFunction" @click="addFunction($event)">
                count()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="element-available" v-model="inputFunction" @click="addFunction($event)">
                element-available()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="false" v-model="inputFunction" @click="addFunction($event)">
                false()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="floor" v-model="inputFunction" @click="addFunction($event)">
                floor()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="function-available" v-model="inputFunction" @click="addFunction($event)">
                function-available()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="lang" v-model="inputFunction" @click="addFunction($event)">
                lang()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="last" v-model="inputFunction" @click="addFunction($event)">
                last()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="local-name" v-model="inputFunction" @click="addFunction($event)">
                local-name()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="name" v-model="inputFunction" @click="addFunction($event)">
                name()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="namespace-url" v-model="inputFunction" @click="addFunction($event)">
                namespace-url()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="normalize-space" v-model="inputFunction" @click="addFunction($event)">
                normalize-space()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="not" v-model="inputFunction" @click="addFunction($event)">
                not()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="number" v-model="inputFunction" @click="addFunction($event)">
                number()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="position" v-model="inputFunction" @click="addFunction($event)">
                position()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="round" v-model="inputFunction" @click="addFunction($event)">
                round()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="starts-with" v-model="inputFunction" @click="addFunction($event)">
                starts-with()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="string" v-model="inputFunction" @click="addFunction($event)">
                string()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="string-length" v-model="inputFunction" @click="addFunction($event)">
                string-length()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="substring" v-model="inputFunction" @click="addFunction($event)">
                substring()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="substring-after" v-model="inputFunction" @click="addFunction($event)">
                substring-after()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="substring-before" v-model="inputFunction" @click="addFunction($event)">
                substring-before()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="sum" v-model="inputFunction" @click="addFunction($event)">
                sum()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="translate" v-model="inputFunction" @click="addFunction($event)">
                translate()
              </label>
              <label>
                <input type="radio" name="inputFunction" value="true" v-model="inputFunction" @click="addFunction($event)">
                true()
              </label>
            </div>
          </div>




          <div class="attributes"style="background:lightyellow;">
            <h3>Attributes</h3>
            <div class="divAttributesInputs">
              <label>
                <input type="radio" name="attribute" value="@alt" v-model="attribute">
                @alt
              </label>
              <label>
                <input type="radio" name="attribute" value="@class" v-model="attribute">
                @class
              </label>
              <label>
                <input type="radio" name="attribute" value="@href" v-model="attribute">
                @href
              </label>
              <label>
                <input type="radio" name="attribute" value="@id" v-model="attribute">
                @id
              </label>
              <label>
                <input type="radio" name="attribute" value="@name" v-model="attribute">
                @name
              </label>
              <label>
                <input type="radio" name="attribute" v-model="attribute" value="@src" >
                @src
              </label>
              <label>
                <input type="radio" name="attribute" v-model="attribute" value="@style" >
                @style
              </label>
              <label>
                <input type="radio" name="attribute" value="@title" v-model="attribute">
                @title
              </label>
              <label>
                <input type="radio" name="attribute" value="@value" v-model="attribute">
                @value
              </label>
              <label>
                <input type="text" name="attribute" value="" v-model="attribute" @keyup.enter="addToPath($event)">
                Other
              </label>
            </div>
          </div>




          <div class="parameters"style="background:beige;">
            <h3>Function String Parameters</h3>
            <div class="divParametersInputs">
              <div class="divParameters" v-show="inputFunction === 'concat'">
                <h3>for concat()</h3>
              </div>
              <div class="divParameters" v-show="inputFunction === 'contains'">
                <h3>for contains()</h3>
                <label>
                  <input type="checkbox" name="translateString" v-model="translateString">
                  Translate the string
                </label>
                <label>
                  Add string
                  <input type="text" name="functionString" value="" v-model="functionString" @keyup.enter="addToPath($event)">
                </label>

              </div>
              <div class="divParameters" v-show="inputFunction === 'normalize-space'">
                <h3>for normalize-space()</h3>
              </div>
              <div class="divParameters" v-show="inputFunction === 'substring'">
                <h3>for substring()</h3>
              </div>
              <div class="divParameters" v-show="inputFunction === 'substring-after'">
                <h3>for substring-after()</h3>
              </div>
              <div class="divParameters" v-show="inputFunction === 'substring-before'">
                <h3>for substring-before()</h3>
              </div>
              <div class="divParameters" v-show="inputFunction === 'translate'">
                <h3>for translate()</h3>
              </div>

            </div>
          </div>

        </section>
        <!-- End of section Options -->


        <section class="sectionElements">
          <div class="">
            The functionsArr is displayed here
            {{functionsArr}}
          </div>

          <div class="">
            The pathArray is displayed here <br>
            {{pathArray}}
          </div>

          <div class="">
            Active function: {{functionsArr[functionsArr.length-1]}}
          </div>
        </section>
        <!-- End of section Elements -->

        <section class="sectionResult">
          Result displayed here: {{fullPath}}
        </section>
        <!-- End of section Result -->

      </div><!-- End of divContainer -->
    </main>

  </body>









  <script>

    var app = new Vue({
      el: "#mainSlot",
      data: {
        axis:"",
        node: "", //The node that is added after the axis
        brackets: "", // If new brackets are opening or not
        operator: "", //or, and, and not, not
        inputFunction: "", //populated when a function is selected
        translateString: true, //checkbox for when the 'translate' option is selected
        functionString: "", //populated when a string is entered in the inpout slot for each function (in parameters)
        attribute: "", //Attributes that are inside functions or brackets
        pathArray: [], //array with full path of all different additions
        functionsArr: [], //array of all functions that are selected
        functionsCounter: 0

      }, //End of data
      methods:{
        addToPath(event){
          //Variable used to check on the last element of the pathArray. Needed for splicing
          let pathArrayLastElement = this.pathArray[this.pathArray.length-1];

          console.log("event.target.value:", event.target.value);
          console.log("event.target.name:", event.target.name);

          //Add an axis with the node name
          if (event.target.name === "addPathNode") {
            console.log("target name equals addPathNode");
            //Add the string to the function array without a comma
            if (this.functionsCounter !== 0) {
              let functionStr = this.functionsArr[this.functionsArr.length-1]
              console.log("firstIf");
              console.log(functionStr[functionStr.length-1]);
              if(functionStr[functionStr.length-1] === "("){
                console.log("second if");
                this.functionsArr[this.functionsArr.length-1] += this.axis + event.target.value;
                this.node = "";
              }
              // Add the string to the functions array with a comma
              else{
                this.functionsArr[this.functionsArr.length-1] += ", " + this.axis + event.target.value;
                this.node = "";
              }
            }
            else {
              console.log("else to push in the pathArray");
              this.pathArray.push(this.axis + event.target.value);
              this.node = "";
            }
            return;
          }

          //Add brackets
          if (event.target.name === "brackets"){
            console.log("In the brackets if");
            if(!event.target.value === ")") this.pathArray.push(event.target.value);
            else {

            }
             //I NEED TO FIX THIS.
            //IF PARENTHESIS, THEN ADD TO THE FUNCTIONS ARRAY AND NOT THE PATH Array
            //PUSH IN THE PATH ARRAY WHEN THE ) PARENTHESES ARE EQUAL TO THE NUMBER OF
            // FUNCTIONS IN THE FUNCTIONS ARRAY
            if (event.target.value === ")") this.functionsArr.pop();
          }

          //Add attribute by itself
          if (event.target.name === "attribute") {
            console.log("In the attribute if");

            //If the last element of array is a bracket, then push the attribute as extension
            if (pathArrayLastElement[pathArrayLastElement.length-1] === "]") {
              this.pathArray.push("/" + event.target.name);
            }
          }

          //Add a function with all it's parameters
          if (event.target.name === "functionString") return this.addFunction();

        },


        addFunction(event){
          this.functionsArr.push(event.target.value + "(");
          this.functionsCounter ++;
          console.log("In add function");
          let pathArrayLastElement = this.pathArray[this.pathArray.length-1];
          let functionParams;

          //boolean function
          if(this.inputFunction === "boolean"){

          }

          //count function
          if (this.inputFunction === "count") {

          }

          //ceiling function
          if(this.inputFunction === "ceiling"){

          }

          // choose function
          if(this.inputFunction === "choose"){

          }

          // concat function
          if(this.inputFunction === "concat"){

          }

          // contains function
          if (this.inputFunction === "contains") {
            if(!this.translateString){ //If the translate option is not selected
              this.operator.includes("not") ?
              functionParams = `${this.operator} (${this.inputFunction}(${this.attribute}, '${this.functionString}')) ` :
              functionParams = `${this.operator} ${this.inputFunction}(${this.attribute}, '${this.functionString}') `;
            }
            else { //If the translate option is selected
              let translateString = "";
              for (let i = 0; i < this.functionString.length; i++) {
                if(!translateString.includes(this.functionString[i].toLowerCase()) && /\w/.test(this.functionString[i]))
                translateString += this.functionString[i].toLowerCase();
              }

              this.operator.includes("not") ?
              functionParams = `${this.operator} (${this.inputFunction}(translate(${this.attribute}, '${translateString.toUpperCase()}', '${translateString}'), '${this.functionString.toLowerCase()}')) ` :
              functionParams = `${this.operator} ${this.inputFunction}(translate(${this.attribute}, '${translateString.toUpperCase()}', '${translateString}'), '${this.functionString.toLowerCase()}') `;
              console.log("TranslatedString:", translateString);
            }

            this.pathArray.splice(this.pathArray.length-1, 0, functionParams);
            return this.zeroProperties();
          }

          //count function
          //element-available function
          //false function
          //floor function
          //function available function
          //lang function
          //last function
          //local-name function
          // name function
          // namespace-url function
          //normalize-space function
          //not function
          //number function
          //position function
          //round function
          //starts-with function
          //string function
          //string-length function
          //substring function
          //substring-after function
          // substring-before function
          //sum function
          //translate function
          //true function

        },

        zeroProperties(){
          this.axis = "";
          this.brackets = "";
          this.operator = "";
          this.inputFunction = "";
          this.translateString = true;
          this.attribute = "";
          this.functionString = "";
        }


      }, //End of methods
      computed: {
        fullPath(){
          return this.pathArray.join("");
        }
      } //end of computed properties
    });

  </script>

</html>
