<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>xPath Generator</title>

    <style media="screen">

      *{
        box-sizing: border-box;
      }

      .divContainer{
        display: grid;
        grid-template-rows: 85vh 15vh;
        grid-template-columns: 60vw 40vw;
        grid-template-areas:
        "sectionOptions sectionElements"
        "sectionResult sectionResult";
      }

      .sectionOptions{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 60% 3% 17% 20%;
        grid-template-areas:
        "branches functions"
        "brackets functions"
        "brackets operators"
        "attributes parameters";
        font-size: 0.85em;
      }

      .branches, .functions, .brackets, .operators, .attributes, .parameters{
        padding: 10px;
      }

      .branches{
        grid-area: branches;
      }

      .branches hr{
        margin: 3%;
      }

      .divBranchesAbsoluteRelative{
        display: flex;
        justify-content: space-around;
      }

      .divBranchesInputs{
        display: flex;
        flex-flow: column wrap;
        height: 80%;
        align-content: space-around;
        /* justify-content: space-between; */
      }

      .brackets{
        grid-area: brackets;
      }

      .divBracketsInputs{
        height: 80%;
        display: flex;
        justify-content: center;
        align-content: center;
      }

      table{
        width: 100%;
      }

      td{
        text-align: center;
        vertical-align: middle;
      }

      .operators{
        grid-area: operators;
      }

      .divOperatorsInputs{
        display: flex;
        flex-flow: column wrap;
        height: 80%;
        /* align-content: space-around;
        justify-content: space-between; */
      }

      .functions{
        grid-area: functions;
      }

      .divFunctionsInputs{
        display: flex;
        flex-flow: column wrap;
        height: 90%;
        align-content: space-around;
        font-size: .79rem;
        /* flex-wrap: wrap; */
      }

      .functionSpansFontSize{
        color: red;
        /* font-size: 0.55rem; */
      }

      .attributes{
        grid-area: attributes;
      }

      .divAttributesInputs{
        display: flex;
        align-content: space-around;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .divAttributesInputs label{
        margin-right: 2px;
      }

      .parameters{
        grid-area: parameters;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 40%;
        grid-template-areas:
        "gridParamsHeading"
        "gridParamsLevel1"
        "gridParamsLevel2";
      }

      .gridParamsHeading{
        grid-area: gridParamsHeading
      }

      .gridParamsLevel1{
        grid-area: gridParamsLevel1;
        display: flex;
        justify-content: center;
      }

      .gridParamsLevel1 label{
        margin-right: 10px;
      }

      .gridParamsLevel2{
        grid-area: gridParamsLevel2;
        display: flex;
        justify-content: center;
      }

      .sectionElements, .sectionResult{
        padding: 10px 20px;
      }

      h3, h4{
        text-align: center;
      }

      .divFunctionsInputs label, .divBranchesInputs label{
        /* max-width: 50%; */
      }

      .divBracketsInputs label{
        margin: 0;
      }

      label:hover{
        font-weight: bold;
        cursor: pointer;
      }

      input:focus + span{
        font-weight: bold;
      }

      .sectionElements{
        grid-area: sectionElements;
        background: lightyellow;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 10% 50%;
        grid-template-areas:
        "divFunctionsSequenceArrElements"
        "divFunctionConcatenation"
        "divPathArrayElements"
      }

      .divFunctionsSequenceArrElements{
        grid-area: divFunctionsSequenceArrElements;
      }

      .divFunctionsSequenceArrElements label{
        margin: 5px;
      }

      .divFunctionsSequenceArrElements label input{
        border: 2px solid rgb(128,0,32);
        border-radius: 5%
      }

      .divFunctionsSequenceArrElements label input:hover{
        background-color: rgba(128, 0, 32, .4);
      }

      .divFunctionsSequenceArrElements label input:focus{
        background-color: rgba(128, 0, 32, .2);
        color: rgb(128,0,32);
        outline: none;
      }

      .divFunctionConcatenation{
        grid-area: divFunctionConcatenation;
      }

      .divPathArrayElements{
        grid-area: divPathArrayElements;
      }

      .sectionResult{
        grid-area: sectionResult;
        background: lightgray;
      }

    </style>

  </head>







  <body>
    <main id="mainSlot">
      <div class="divContainer">

        <section class="sectionOptions">
          <div class="branches" style="background:pink;">
            <h3>Axes / Node</h3>


            <div class="divBranchesAbsoluteRelative">
              <label>
                <input type="radio" name="absoluteRelativeAxis" v-model="absoluteRelativeAxis" value="absolute">
                <span>Absolute path</span>
              </label>
              <label>
                <input type="radio" name="absoluteRelativeAxis" v-model="absoluteRelativeAxis" value="relative">
                <span>Relative path</span>
              </label>
            </div>
            <hr>
            <div class="divBranchesInputs">
              <label>
                <input type="radio" value="" name="axisOption" v-model="axis">
                <span>None</span>
              </label>
              <label>
                <input type="radio" value="/self::" name="axisOption" v-model="axis" @click="node = 'node()'">
                <span>. (/self::node())</span>
              </label>
              <label>
                <input type="radio" value="/parent::" name="axisOption" v-model="axis" @click="node = 'node()'">
                <span>.. (/parent::node())</span>
              </label>
              <label>
                <input type="radio" value="//" name="axisOption" v-model="axis">
                <span>// (descendant-or-self::)</span>
              </label>
              <label>
                <input type="radio" value="/ancestor::" name="axisOption" v-model="axis">
                <span>/ancestor::</span>
              </label>
              <label>
                <input type="radio" value="/ancestor-or-self::" name="axisOption" v-model="axis">
                <span>/ancestor-or-self::</span>
              </label>
              <label>
                <input type="radio" value="/attribute::" name="axisOption" v-model="axis">
                <span>/attribute:: (@)</span>
              </label>
              <label>
                <input type="radio" value="/child::" name="axisOption" v-model="axis">
                <span>/child::</span>
              </label>
              <label>
                <input type="radio" value="/descendant::" name="axisOption" v-model="axis">
                <span>/descendant::</span>
              </label>
              <label>
                <input type="radio" value="/descendant-or-self::" name="axisOption" v-model="axis">
                <span>/descendant-or-self::</span>
              </label>
              <label>
                <input type="radio" value="/following::" name="axisOption" v-model="axis">
                <span>/following::</span>
              </label>
              <label>
                <input type="radio" value="/following-sibling::" name="axisOption" v-model="axis">
                <span>/following-sibling::</span>
              </label>
              <label>
                <input type="radio" value="/namespace::" name="axisOption" v-model="axis">
                <span>/namespace::</span>
              </label>
              <label>
                <input type="radio" value="/parent::" name="axisOption" v-model="axis">
                <span>/parent::</span>
              </label>
              <label>
                <input type="radio" value="/preceding::" name="axisOption" v-model="axis">
                <span>/preceding::</span>
              </label>
              <label>
                <input type="radio" value="/preceding-sibling::" name="axisOption" v-model="axis">
                <span>/preceding-sibling::</span>
              </label>
              <label>
                <input type="radio" value="/self::" name="axisOption" v-model="axis">
                <span>/self::</span>
              </label>
              <label>
                <input type="text" name="addNode" v-model="node" @keyup.enter="addBranch($event)" size="12">
                <span>Node</span>
              </label>
            </div>
          </div>




          <div class="brackets" style="background:lightblue;">
            <h3>Predicates / Parenthesis</h3>
            <div class="divBracketsInputs">
              <table>
                <tr>
                  <td>&nbsp;</td>
                  <td>Open</td>
                  <td>Close</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>Brackets</td>
                  <td>
                    <label>
                      <input type="radio" name="brackets" value="[" v-model="brackets" @click="addBrackets($event)">
                      <span>[</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input type="radio" name="brackets" value="]" v-model="brackets" @click="addBrackets($event)">
                      <span>]</span>
                    </label>
                  </td>
                  <td rowspan="2">
                    <label>
                      <input type="radio" name="brackets" value="" v-model="brackets">

                    </label>
                  </td>
                </tr>
                <tr>
                  <td>Parenthesis</td>
                  <td>
                    <label>
                      <input type="radio" name="brackets" value="(" v-model="brackets" @click="addBrackets($event)">
                      <span>(</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input type="radio" name="brackets" value=")" v-model="brackets" @click="addBrackets($event)">
                      <span>)</span>
                    </label>
                  </td>
                </tr>
              </table>

              <!-- <table>
                <tr>
                  <td>None</td>
                  <td>Brackets</td>
                  <td>Parenthesis</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td rowspan="2">
                    <label>
                      <input type="radio" name="brackets" value="" v-model="brackets">
                      None
                    </label>
                  </td>
                  <td>
                    <label>
                      <input type="radio" name="brackets" value="[" v-model="brackets" @click="addBrackets($event)">
                      <span>[</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input type="radio" name="brackets" value="(" v-model="brackets" @click="addBrackets($event)">
                      <span>(</span>
                    </label>
                  </td>
                  <td>
                    Open
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>
                      <input type="radio" name="brackets" value="]" v-model="brackets" @click="addBrackets($event)">
                      <span>]</span>
                    </label>
                  </td>
                  <td>
                    <label>
                      <input type="radio" name="brackets" value=")" v-model="brackets" @click="addBrackets($event)">
                      <span>)</span>
                    </label>
                  </td>
                  <td>Close</td>
                </tr>
              </table> -->





              <!-- <label>
                <input type="radio" name="brackets" value="" v-model="brackets">
                None
              </label>
              <label>
                <input type="radio" name="brackets" value="[" v-model="brackets" @click="addBrackets($event)">
                <span>Bracket [</span>
              </label>
              <label>
                <input type="radio" name="brackets" value="]" v-model="brackets" @click="addBrackets($event)">
                <span>Bracket ]</span>
              </label>
              <label>
                <input type="radio" name="brackets" value="(" v-model="brackets" @click="addBrackets($event)">
                <span>Parenthesis (</span>
              </label>
              <label>
                <input type="radio" name="brackets" value=")" v-model="brackets" @click="addBrackets($event)">
                <span>Parenthesis )</span>
              </label> -->
            </div>
          </div>




          <div class="operators" style="background:lightgray;">
            <h3>Operators</h3>
            <div class="divOperatorsInputs">
              <label>
                <input type="radio" name="inputOperator" value="" v-model="operator">
                None
              </label>
              <label>
                <input type="radio" name="inputOperator" value="and" v-model="operator" @click="addOperators($event)">
                <span>and</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="or" v-model="operator" @click="addOperators($event)">
                <span>or</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="|" v-model="operator" @click="addOperators($event)">
                <span>|</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="=" v-model="operator" @click="addOperators($event)">
                <span>=</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="!=" v-model="operator" @click="addOperators($event)">
                <span>!=</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="+" v-model="operator" @click="addOperators($event)">
                <span>+</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="-" v-model="operator" @click="addOperators($event)">
                <span>-</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="*" v-model="operator" @click="addOperators($event)">
                <span>*</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="div" v-model="operator" @click="addOperators($event)">
                <span>div</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="<" v-model="operator" @click="addOperators($event)">
                <span>&lt;</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="<=" v-model="operator" @click="addOperators($event)">
                <span>&lt;=</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value=">" v-model="operator" @click="addOperators($event)">
                <span>&gt;</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value=">=" v-model="operator" @click="addOperators($event)">
                <span>&gt;=</span>
              </label>
              <label>
                <input type="radio" name="inputOperator" value="mod" v-model="operator" @click="addOperators($event)">
                <span>mod</span>
              </label>
            </div>
          </div>




          <div class="functions"style="background:lightgreen;">
            <h3>Function</h3>
            <div class="divFunctionsInputs">
              <label>
                <input type="radio" name="activeFunction" value="" v-model="activeFunction" disabled>
                <span>None</span>
              </label>
              <label title="The boolean function evaluates an expression and returns true or false. | boolean(expression)">
                <input type="radio" name="activeFunction" value="boolean" v-model="activeFunction" @click="addFunction($event)">
                <span>boolean()</span>
              </label>
              <label title="The ceiling function evaluates a decimal number and returns the smallest integer greater than or equal to the decimal number. | ceiling(number)">
                <input type="radio" name="activeFunction" value="ceiling" v-model="activeFunction" @click="addFunction($event)">
                <span>ceiling()</span>
              </label>
              <label title="The choose function returns one of the specified objects based on a boolean parameter. | choose(boolean , object1, object2)">
                <input type="radio" name="activeFunction" value="choose" v-model="activeFunction" @click="addFunction($event)">
                <span>choose()</span>
              </label>
              <label title="The concat function concatenates two or more strings and returns the resulting string. | concat(string1 ,string2 [,stringn]*)">
                <input type="radio" name="activeFunction" value="concat" v-model="activeFunction" @click="addFunction($event)">
                <span>concat()</span>
              </label>
              <label title="The contains function determines whether the first argument string contains the second argument string and returns boolean true or false. | contains(haystack, needle)">
                <input type="radio" name="activeFunction" value="contains" v-model="activeFunction" @click="addFunction($event)">
                <span>contains()</span>
              </label>
              <label title="The count function counts the number of nodes in a node-set and returns an integer. | count(node-set)">
                <input type="radio" name="activeFunction" value="count" v-model="activeFunction" @click="addFunction($event)">
                <span>count()</span>
              </label>
              <label title="The current function can be used to get the context node in an XSLT instruction. | current()">
                <input type="radio" name="activeFunction" value="current" v-model="activeFunction" @click="addFunction($event)">
                <span>current()</span>
              </label>
              <label title="The document finds a node-set in an external document, or multiple external documents, and returns the resulting node-set. | document(URI [,node-set])">
                <input type="radio" name="activeFunction" value="document" v-model="activeFunction" @click="addFunction($event)">
                <span>document()</span>
              </label>
              <label title="The element-available function determines if an element is available and returns true or false. | element-available(QName)">
                <input type="radio" name="activeFunction" value="element-available" v-model="activeFunction" @click="addFunction($event)">
                <span>element-available()</span>
              </label>
              <label title="The false function returns boolean false. | false()">
                <input type="radio" name="activeFunction" value="false" @click="addFunction($event)">
                <span>false()</span>
              </label>
              <label title="The floor function evaluates a decimal number and returns the largest integer less than or equal to the decimal number. | floor(number)">
                <input type="radio" name="activeFunction" value="floor" v-model="activeFunction" @click="addFunction($event)">
                <span>floor()</span>
              </label>
                <label title="The format-number function evaluates a number and returns a string representing the number in a given format. | format-number(number ,pattern [,decimal-format])">
                  <input type="radio" name="activeFunction" value="format-number" v-model="activeFunction" @click="addFunction($event)">
                  <span>format-number()</span>
              </label>
              <label title="The function-available function determines if a given function is available and returns boolean true or false. | function-available(name)">
                <input type="radio" name="activeFunction" value="function-available" v-model="activeFunction" @click="addFunction($event)">
                <span>function-available()</span>
              </label>
              <label title="The generate-id function generates a unique id for the first node in a given node-set and returns a string containing that id. | generate-id( [node-set])">
                <input type="radio" name="activeFunction" value="generate-id" v-model="activeFunction" @click="addFunction($event)">
                <span>generate-id()</span>
              </label>
              <label title="The key function returns a node-set of nodes that have the given value for the given key. | key(keyname ,value)">
                <input type="radio" name="activeFunction" value="key" v-model="activeFunction" @click="addFunction($event)">
                <span>key()</span>
              </label>
              <label title="The lang function determines whether the context node matches the given language and returns boolean true or false. | lang(string)">
                <input type="radio" name="activeFunction" value="lang" v-model="activeFunction" @click="addFunction($event)">
                <span>lang()</span>
              </label>
              <label title="The last function returns a number equal to the context size from the expression evaluation context. | last()">
                <input type="radio" name="activeFunction" value="last" @click="addFunction($event)">
                <span>last()</span>
              </label>
              <label title="The local-name function returns a string representing the local name of the first node in a given node-set. | local-name( [node-set])">
                <input type="radio" name="activeFunction" value="local-name" v-model="activeFunction" @click="addFunction($event)">
                <span>local-name()</span>
              </label>
              <label title="The name function returns a string representing the QName of the first node in a given node-set. | name([node-set])">
                <input type="radio" name="activeFunction" value="name" v-model="activeFunction" @click="addFunction($event)">
                <span>name()</span>
              </label>
              <label title="The namespace-uri function returns a string representing the namespace URI of the first node in a given node-set. | namespace-uri([node-set])">
                <input type="radio" name="activeFunction" value="namespace-url" v-model="activeFunction" @click="addFunction($event)">
                <span>namespace-url()</span>
              </label>
              <label title="The normalize-space function strips leading and trailing white-space from a string, replaces sequences of whitespace characters by a single space, and returns the resulting string. | normalize-space([string])">
                <input type="radio" name="activeFunction" value="normalize-space" v-model="activeFunction" @click="addFunction($event)">
                <span>normalize-space()</span>
              </label>
              <label title="The not function evaluates a boolean expression and returns the opposite value. | not(expression)">
                <input type="radio" name="activeFunction" value="not" v-model="activeFunction" @click="addFunction($event)">
                <span>not()</span>
              </label>
              <label title="The number function converts an object to a number and returns the number. | number([object])">
                <input type="radio" name="activeFunction" value="number" v-model="activeFunction" @click="addFunction($event)">
                <span>number()</span>
              </label>
              <label title="The position function returns a number equal to the context position from the expression evaluation context. | position()">
                <input type="radio" name="activeFunction" value="position" @click="addFunction($event)">
                <span>position()</span>
              </label>
              <label title="The round function returns a number that is the nearest integer to the given number. | round(decimal)">
                <input type="radio" name="activeFunction" value="round" v-model="activeFunction" @click="addFunction($event)">
                <span>round()</span>
              </label>
              <label title="The starts-with checks whether the first string starts with the second string and returns true or false. | starts-with(haystack, needle)">
                <input type="radio" name="activeFunction" value="starts-with" v-model="activeFunction" @click="addFunction($event)">
                <span>starts-with()</span>
              </label>
              <label title="The string function converts the given argument to a string. | string([object])">
                <input type="radio" name="activeFunction" value="string" v-model="activeFunction" @click="addFunction($event)">
                <span>string()</span>
              </label>
              <label title="The string-length function returns a number equal to the number of characters in a given string. | string-length([string])">
                <input type="radio" name="activeFunction" value="string-length" v-model="activeFunction" @click="addFunction($event)">
                <span>string-length()</span>
              </label>
              <label title="The substring function returns a part of a given string. | substring(string ,start [,length])">
                <input type="radio" name="activeFunction" value="substring" v-model="activeFunction" @click="addFunction($event)">
                <span>substring()</span>
              </label>
              <label title="The substring-after function returns a string that is the rest of a given string after a given substring. | substring-after(haystack ,needle)">
                <input type="radio" name="activeFunction" value="substring-after" v-model="activeFunction" @click="addFunction($event)">
                <span>substring-after()</span>
              </label>
              <label title="The substring-before function returns a string that is the part of a given string before a given substring. | substring-before(haystack ,needle)">
                <input type="radio" name="activeFunction" value="substring-before" v-model="activeFunction" @click="addFunction($event)">
                <span>substring-before()</span>
              </label>
              <label title="The sum function returns a number that is the sum of the numeric values of each node in a given node-set. | sum(node-set)">
                <input type="radio" name="activeFunction" value="sum" v-model="activeFunction" @click="addFunction($event)">
                <span>sum()</span>
              </label>
              <label title="The system-property function returns an object representing the given system-property. | system-property(name)">
                <input type="radio" name="activeFunction" value="system-property" v-model="activeFunction" @click="addFunction($event)">
                <span>system-property()</span>
              </label>
              <label title="The translate function evaluates a string and a set of characters to translate and returns the translated string. | translate(string, abc, XYZ)">
                <input type="radio" name="activeFunction" value="translate" v-model="activeFunction" @click="addFunction($event)">
                <span>translate()</span>
              </label>
              <label title="The true function returns a boolean value of true. | true()">
                <input type="radio" name="activeFunction" value="true" @click="addFunction($event)">
                <span>true()</span>
              </label>
            </div>
          </div>




          <div class="attributes"style="background:lightyellow;">
            <h3>Attributes</h3>
            <div class="divAttributesInputs">
              <label>
                <input type="radio" name="attribute" value="" v-model="attribute">
                None
              </label>
              <label>
                <input type="radio" name="attribute" value="@alt" v-model="attribute" @click="addAttributes($event)">
                @alt
              </label>
              <label>
                <input type="radio" name="attribute" value="@class" v-model="attribute" @click="addAttributes($event)">
                @class
              </label>
              <label>
                <input type="radio" name="attribute" value="@href" v-model="attribute" @click="addAttributes($event)">
                @href
              </label>
              <label>
                <input type="radio" name="attribute" value="@id" v-model="attribute" @click="addAttributes($event)">
                @id
              </label>
              <label>
                <input type="radio" name="attribute" value="@name" v-model="attribute" @click="addAttributes($event)">
                @name
              </label>
              <label>
                <input type="radio" name="attribute" v-model="attribute" value="@src" @click="addAttributes($event)">
                @src
              </label>
              <label>
                <input type="radio" name="attribute" v-model="attribute" value="@style" @click="addAttributes($event)">
                @style
              </label>
              <label>
                <input type="radio" name="attribute" value="@title" v-model="attribute" @click="addAttributes($event)">
                @title
              </label>
              <label>
                <input type="radio" name="attribute" value="@value" v-model="attribute" @click="addAttributes($event)">
                @value
              </label>
              <label>
                <input type="text" name="attribute" value="" v-model="attribute" @keyup.enter="addAttributes($event)" size="12">
                Other
              </label>
            </div>
          </div>




          <div class="parameters"style="background:beige;">
            <div class="gridParamsHeading">
              <h3>{{activeFunctionArr[activeFunctionArr.length - 1]}} Parameters</h3>
            </div>


            <div class="gridParamsLevel1">
              <div class="divCheckboxParams">
                <label v-show="showNumberInput">
                  <input type="checkbox" name="numberEntry" value="" v-model="numberEntry">
                  <span>Number entry</span>
                </label>
                <label v-show="showTranslateInput">
                  <input type="checkbox" name="translateString" v-model="translateString">
                  <span>Upper to lowercase</span>
                </label>
              </div>
              <div class="divStringParam">
                <label  v-show="showParamInput">
                  <input type="text" name="parameterString" v-model="parameterString"  @keyup.enter="addParameters($event)">
                  Value
                </label>
              </div>
            </div>

            <div class="gridParamsLevel2">
              <div class="divAlert">
                {{paramAlert}}
              </div>
            </div>


          </div> <!-- End of parameters -->

        </section>
        <!-- End of section Options -->


        <section class="sectionElements">
          <div class="divFunctionsSequenceArrElements">
            <h3>Active Function elements: {{activeFunction}}</h3>
            <label v-for="(element, idx) in functionsSequenceArr">
              <input type="text" :name="idx"  v-model="functionsSequenceArr[idx]">
            </label>
            <div class="">
              <input type="button" name="" value="Concat last two axes" @click="concatFunctionElements()">
            </div>
          </div>

          <div class="divFunctionConcatenation">
            <h3>Concatenated Functions</h3>
            {{functionsSequenceArrJoin}}
          </div>

          <div class="divPathArrayElements">
            <h3>xPath elements</h3>
            <label v-for="(element, idx) in pathArray">
              <input type="text" :name="idx" v-model="pathArray[idx]">
            </label>
          </div>
        </section>
        <!-- End of section Elements -->

        <section class="sectionResult">
          Result displayed here: {{fullPath}}
        </section>
        <!-- End of section Result -->

      </div><!-- End of divContainer -->
    </main>

  </body>









  <script>

    var app = new Vue({
      el: "#mainSlot",
      data: {
        axis:"",
        node: "", //The node that is added after the axis
        brackets: "", // If new brackets are opening or not
        operator: "", //or, and, and not, not
        activeFunction: "", //populated when a function is selected - convert into array?
        activeFunctionArr: [],
        translateString: false, //checkbox for when the 'translate' option is selected
        numberEntry: false, //When true, the submited entry will not be in quotes
        absoluteRelativeAxis: "absolute",
        parameterString: "", //populated when a string is entered in the input slot for each function (in parameters)
        paramAlert: "",
        //Perhaps need to modify this to get multiple values
        //Not sure if I should use the above
        attribute: "", //Attributes that are inside functions or brackets
        pathArray: [], //array with full path of all different additions
        functionsSequenceArr: [], //array of all functions and parameters that are selected
        functionsCounter: 0

      }, //End of data
      methods:{
        //Adds strings to the pathArray OR
        //If there are strings in the functionsSequenceArr then it adds to the functionsSequenceArr instead
        addBranch(event){
          this.zeroProperties(event.target.name);
          let axisEventValue = this.absoluteRelativeAxis === "absolute" ?
          this.axis + event.target.value : this.axis.slice(1) + event.target.value

          //Add the string to the function array
          if (this.functionsCounter > 0) {
            console.log("In functionsCounter");
            let functionStr = this.functionsSequenceArr[this.functionsSequenceArr.length-1];
            // Add a comma if this is not the beginning of the function
            if(functionStr[functionStr.toString().length-1] !== "(") this.functionsSequenceArr.push(", ");

            this.functionsSequenceArr.push(axisEventValue);
          }
          //Add string to the path array
          else this.pathArray.push(axisEventValue);

          this.node = "";
        }, //End of AddBranch



        addBrackets(event){
          this.zeroProperties(event.target.name);
          if (this.functionsCounter > 0) {
            this.functionsSequenceArr.push(event.target.value);
            if (event.target.value === ")") {
              this.functionsCounter --;
              this.activeFunctionArr.pop();
              this.activeFunction = this.activeFunctionArr[this.activeFunctionArr.length - 1] || "";
              if (this.functionsCounter === 0) {
                this.pathArray.push(this.functionsSequenceArr.join(""));
                this.functionsSequenceArr = [];
              }
            }
            if(event.target.value === "("){
              this.functionsCounter ++;
              this.activeFunctionArr.push(this.activeFunctionArr[this.activeFunctionArr.length - 1]);
            }
          }
          else if(this.pathArray.length > 0 && event.target.value !== ")"){
            this.pathArray.push(event.target.value);
          }
        }, //End of addBrackets



        addOperators(event){
          this.zeroProperties(event.target.name);
          let operatorsRegex = /and|or|\||=|!=|\+|-|\*|div|<|<=|>|>=|mod/;
          console.log("in addOperator");
          console.log(this.functionsSequenceArr[this.functionsSequenceArr.length - 1]);
          //When the functions counter is larger than 0 or
          //when the functionsCounter is zero but there are elements in the functionsSequenceArr
          if ((this.functionsCounter !== 0 ||
          /[a-z]+\(\)$/.test(this.functionsSequenceArr[this.functionsSequenceArr.length - 1])) &&
          !operatorsRegex.test(this.functionsSequenceArr[this.functionsSequenceArr.length - 1])) {
            this.functionsSequenceArr.push(event.target.value);
          }
          //functionsCounter is 0 and functionsSequenceArr is empty so push in pathArray
          else if(this.pathArray.length !== 0 &&
          !operatorsRegex.test(this.pathArray[this.pathArray.length - 1])){
            console.log("else if for pushing operator in the pathArray");
            this.pathArray.push(event.target.value);
          }
          console.log("about to hit zero", this.operator);
          this.operator = "";
          console.log(this.operator);
        },



        addAttributes(event){

          if (this.functionsCounter === 0 && this.pathArray.length === 0) {
            this.paramAlert = "You need to enter a node path or a function first";
            return;
          }

          if (this.functionsCounter !== 0 || this.functionsSequenceArr.length > 0) {
            console.log("if statemenet for adding attribute in the functionsSequenceArr");
            if (this.functionsSequenceArr[this.functionsSequenceArr.length - 1].includes("@")) {
              this.paramAlert = "An attribute already exists in the previous entry.";
            }
            else {
              //If the previous element in the array is a branch, then push the attribute with a forward
              //slash, otherwise just push the attribute
              this.functionsSequenceArr[this.functionsSequenceArr.length - 1].includes("::") ||
              this.functionsSequenceArr[this.functionsSequenceArr.length - 1].includes("//") ||
              this.functionsSequenceArr[this.functionsSequenceArr.length - 1] === "." ?
              this.functionsSequenceArr.push("/" + event.target.value) :
              this.functionsSequenceArr.push(event.target.value);
              this.attribute = "";
              return this.zeroProperties(event.target.name);
            }
          }

          if(this.pathArray.length !== 0) {
            if (this.pathArray[this.pathArray.length - 1].includes("@")) {
              this.paramAlert = "An attribute already exists in the previous entry."
            }
            else {
              console.log("else if for adding attribute in the pathArray");
              //If the previous element in the array is a branch, then push the attribute with a forward
              //slash, otherwise just push the attribute
              this.pathArray[this.pathArray.length - 1].includes("::") ||
              this.pathArray[this.pathArray.length - 1].includes("//") ||
              this.pathArray[this.pathArray.length - 1] === "."?
              this.pathArray.push("/" + event.target.value) :
              this.pathArray.push(event.target.value);
              this.attribute = "";
              return this.zeroProperties(event.target.name);
            }
          }
        },



        //Adds a function name with parenthesis ( in the functionsSequenceArr
        addFunction(event){
          this.zeroProperties(event.target.name);

          //Alert the user that the function only takes node sets
          if (event.target.value === "count") {
            this.paramAlert = "This function only takes node sets";
          }

          //Mark the number entry checkbox as selected
          if (event.target.value === "ceiling" ||
          event.target.value === "floor" ||
          event.target.value === "round") {
            this.numberEntry = true;
            this.paramAlert = "This function only takes a number entry";
          }



          console.log("In add function. The counter before the addition is:", this.functionsCounter);
          if (event.target.value === "current" ||
              event.target.value === "false" ||
              event.target.value === "last" ||
              event.target.value === "position" ||
              event.target.value === "true") {
            this.functionsSequenceArr.push(event.target.value + "()"); //Array with all the functions and params
          }
          else {
            this.functionsSequenceArr.push(event.target.value + "(");
            this.activeFunctionArr.push(event.target.value);
            this.functionsCounter ++;
          }
        }, //End of addFunction



        addParameters(event){

          //When a parameter is added in a function
          if (this.functionsCounter > 0) {
            console.log("functionsCounter larger than 0. It is", this.functionsCounter);
            console.log("this.numberEntry is", this.numberEntry, "and this.translateString is", this.translateString);
            //If number entry has been selected
            if(this.numberEntry) return this.evaluateAndEnterNumberValue(event.target.value, this.functionsSequenceArr);
            //Translate option has been selected
            else if (this.translateString) return this.translateAndPush(event.target.value);
            //The string is pushed in the functionsSequenceArr
            else{
              let lastElement = this.functionsSequenceArr[this.functionsSequenceArr.length-1];
              console.log("HELLLLLL");
              if (lastElement[lastElement.length - 1] === "(") {
                this.functionsSequenceArr.push("\"" + event.target.value + "\"")
              }
              else {
                this.functionsSequenceArr.push(",");
                this.functionsSequenceArr.push("\"" + event.target.value + "\"")
              }

              this.parameterString = "";
              return this.zeroProperties(event.target.name);
            }
          }
          //When a parameter is added in the functionsSequenceArr
          else if (this.functionsSequenceArr.length > 0) {
            console.log("functionsCounter 0 but functionsSequenceArr has elements");
            if(this.numberEntry) return this.evaluateAndEnterNumberValue(event.target.value, this.functionsSequenceArr);
            else {
              this.functionsSequenceArr.push("\"" + event.target.value + "\"");
              this.parameterString = "";
              return this.zeroProperties(event.target.name);
            }
          }
          //When a parameter is added in the pathArray
          else {
            console.log("functionsCounter and functionsSequenceArr are both empty");
            //If number entry has been selected
            if(this.numberEntry) return this.evaluateAndEnterNumberValue(event.target.value, this.pathArray);
            else {
              this.pathArray.push("\"" + event.target.value + "\"");
              this.parameterString = "";
              return this.zeroProperties(event.target.name);
            }
          }

          //When a parameter is added after an operator but not in a function
          if (this.operator !== "") {
            if(this.numberEntry) return this.evaluateAndEnterNumberValue(event.target.name, this.pathArray)
            else {
              this.pathArray.push("\"" + event.target.value + "\"");
              this.parameterString = "";
              return this.zeroProperties(event.target.name);
            }
          }

      }, //End of addParameters()



        //Concatenates the last elements that are in the functionsSequenceArr and are separated by a comma
        concatFunctionElements(){
          console.log(this.functionsSequenceArr);

          if (this.functionsSequenceArr.length > 3 &&
          this.functionsSequenceArr[this.functionsSequenceArr.length-2] === ", " &&
          this.functionsSequenceArr[this.functionsSequenceArr.length-3][0] === "/") {
            this.functionsSequenceArr[this.functionsSequenceArr.length-3] += this.functionsSequenceArr.pop();
            this.functionsSequenceArr.pop();
          }
          else {
            this.paramAlert = "The array is not big enough for concatenation or the element for concatenation is not an axis";
          }
        }, //End of concat Function Elements



        evaluateAndEnterNumberValue(eventValue, arr){
          if (!Number(eventValue)) {
            this.parameterString = "";
            this.numberEntry = false;
            this.paramAlert = "Invalid number entry";
          }
          else {
            arr.push(Number(eventValue));
            this.paramAlert = "";
            this.parameterString = "";
            this.zeroProperties(event.target.name)
          }
        },



        translateAndPush(eventValue){
          console.log("In translate", this.functionsSequenceArr[this.functionsSequenceArr.length - 1]);
          if (this.functionsSequenceArr[this.functionsSequenceArr.length - 1].endsWith("(")) {
            this.paramAlert = "You need to enter an attribute or an axis before the string parameter";
            return;
          }
          else {
            let translateStringElements = "";
            for (let i = 0; i < this.parameterString.length; i++) {
              if(!translateStringElements.includes(this.parameterString[i].toLowerCase()) && /\w/.test(this.parameterString[i]))
              translateStringElements += this.parameterString[i].toLowerCase();
            }
            this.functionsSequenceArr.push(`translate(${this.functionsSequenceArr.pop()}, "${translateStringElements.toUpperCase()}", "${translateStringElements}"), "${eventValue.toLowerCase()}"`);
            console.log("close to zero", event.target.name);
            this.parameterString = "";
            this.zeroProperties(event.target.name);
          }
        }, //End of translateAndPush



        //Zero all the properties of the data object
        zeroProperties(eventName){
          if(eventName !== "addNode") this.axis = "";
          if(eventName !== "brackets") this.brackets = "";
          if(eventName !== "inputOperator") this.operator = "";
          // this.activeFunction = "";
          this.translateString = false;
          this.numberEntry = false;
          this.paramAlert = "";
          if(eventName !== "attribute") this.attribute = "";
          if(eventName !== "parameterString") this.parameterString = "";
        }, //End of zero properties



        adjustLabelSize(){
          let labels = document.getElementsByClassName("divFunctionsInputs")[0].children;
          for (var i = 0; i < labels.length; i++) {
            let spanText = labels[i].children[1].textContent;
            if (spanText.length > 15) labels[i].className += "functionSpansFontSize";
          }
        },



        updateFunctionsSequenceArr(event){
          console.log("in function");
          console.log(event.target.value);
          console.log(event.target.name);
        }


      }, //End of methods
      computed: {
        fullPath(){
          return this.pathArray.join("");
        },

        functionsSequenceArrJoin(){
          return this.functionsSequenceArr.join("");
        },


        //For displaying the Number checkbox
        showNumberInput(){
          return this.activeFunction === "boolean" ||
          this.activeFunction === "ceiling" ||
          this.activeFunction === "choose" ||
          this.activeFunction === "floor" ||
          this.activeFunction === "position" ||
          this.activeFunction === "round" ||
          this.activeFunction === "sum" ||
          this.activeFunction === ""
          this.operator !== ""
          ? true : false;
        },


        //For displaying the translate checkbox
        showTranslateInput(){
          return this.activeFunction === "contains" ? true : false;
        },

        showParamInput(){
          return this.activeFunction !== "count"
        }
      }, //end of computed properties
      mounted() {
        // this.adjustLabelSize();
      }
    });


    /*
    params input could be hidden when the following functions are running,
    count

    boolean( expression )
    ceiling(number )
    choose( boolean , object1, object2 )
    concat(string1 ,string2 [,stringn]* )
    contains(haystack, needle)
    count(node-set )
    element-available(QName )
    false()
    floor( number )
    function-available(name )
    lang(string )
    last()
    local-name( [node-set] )
    name( [node-set] )
    namespace-uri( [node-set] )
    normalize-space( [string] )
    not(expression )
    number( [object] )
    position()
    round(decimal )
    starts-with(haystack, needle)
    string( [object] )
    string-length( [string] )
    substring(string ,start [,length] )
    substring-after(haystack ,needle )
    substring-before(haystack ,needle )
    sum(node-set )
    translate(string, abc, XYZ)
    true()
    */

  </script>

</html>
